*{
    margin: 0%;
    padding: 0%;
}
body{font-size:24px;
    font-family:Courier;
    font-weight: bold;
    font-style: italic;
    line-height:30px;
    ;
    background-color: rgb(151, 66, 66);}
a {text-decoration: none;
    color: black;}


header{background-color: rgb(54, 47, 47); 
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

div {margin: 0px;}

.logo {display: flex;
        align-items: center;
    }

.logo img { height: 70px;       
            margin-left: 10px;  
            margin-right: 10px;}

nav a {
        font-weight: 600;
        padding-right: 10px;
        color: white;}

nav a:hover{ 
            color: black;
        }

@media (max-width:700px){
    header{flex-direction: column;}
}

nav{ padding: 10px 0px;}
footer{background-color: gray;
        width: 100%;
        border-top: 2px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        clear: both;
        margin-top: 0%;}